---
layout: frontpage
---

{% include hero.html      %}

{% include cta_video.html id="about" %}

{% include newsletters.html      %}
{% include signup_box.html      %}
{% include videos.html     %}



{% include contributor_areas.html    %}

{% include editors.html     %}
<!--
{% include descriptions.html     %}

{% include sparklers.html %}


    <section class="ftco-section ftco-hireme img margin-top" style="background-image: url(images/bg_1.jpg)">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7 ftco-animate text-center">
                    <h2>I'm <span>Available</span> for freelancing</h2>
                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                    <p class="mb-0"><a href="#" class="btn btn-primary py-3 px-5">Hire me</a></p>
                </div>
            </div>
        </div>
    </section>

{% include contact.html %}


-->
