<!-- Contact-->
<section class="contact-section bg-black">
    <div class="container px-4 px-lg-5">
        <h2 class="text-white mb-4 text-center">Editors</h2>
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fa-brands fa-twitter text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Steve</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50"><a href="https://x.com/spoole167">@spoole167</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-envelope text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Editors</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50"><a href="#!">editor@devsectimes.com</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fa-brands fa-twitter text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Olimpiu</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50"><a href="https://x.com/olimpiupop">@olimpiupop</a></div>
                    </div>
                </div>
            </div>
        </div>
             
    </div>
</section>