<section id="home-section" class="hero">
    <div class="home-slider  owl-carousel">
        <div class="slider-item ">
            <div class="overlay"></div>
            <div class="container">
                <div class="row d-md-flex no-gutters slider-text align-items-end justify-content-end" data-scrollax-parent="true">
                    <div class="one-third js-fullheight order-md-last img" style="background-image:url(/assets/images/book1.png);">
                        <div class="overlay"></div>
                    </div>
                    <div class="one-forth d-flex  align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                        <div class="text">
                            <span class="subheading">Hello!</span>
                            <h1 class="mb-4 mt-3">Welcome to <span>10xJava.dev</span></h1>
                            <h2 class="mb-4">The home of the 10xJava.dev Podcast and  Newsletter</h2>
                            <p><a href="/latest" class="btn btn-primary py-3 px-4">Read More</a> <a href="/contribute" class="btn btn-white btn-outline-white py-3 px-4">Be a Contributor</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slider-item">
            <div class="overlay"></div>
            <div class="container">
                <div class="row d-flex no-gutters slider-text align-items-end justify-content-end" data-scrollax-parent="true">
                    <div class="one-third js-fullheight order-md-last img" style="background-image:url(/assets/images/podcast.png);">
                        <div class="overlay"></div>
                    </div>
                    <div class="one-forth d-flex align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                        <div class="text">
                            <span class="subheading">Listeners</span>
                            <h1 class="mb-4 mt-3">A podcast where industry <span>speakers</span> share their 10x stories </h1>
                            <p><a href="/podcast" class="btn btn-primary py-3 px-4">Listen Now</a> <a href="/speaker" class="btn btn-white btn-outline-white py-3 px-4">Be a guest</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-item">
            <div class="overlay"></div>
            <div class="container">
                <div class="row d-flex no-gutters slider-text align-items-end justify-content-end" data-scrollax-parent="true">
                    <div class="one-third js-fullheight order-md-last img" style="background-image:url(/assets/images/book2.png);">
                        <div class="overlay"></div>
                    </div>
                    <div class="one-forth d-flex align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                        <div class="text">
                            <span class="subheading">Readers</span>
                            <h1 class="mb-4 mt-3">A newsletter for every <span>Developer</span> who wants to be more</h1>
                            <p><a href="/newsletter" class="btn btn-primary py-3 px-4">Read Now</a> <a href="/contribute" class="btn btn-white btn-outline-white py-3 px-4">Be a Contributor</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-item">
            <div class="overlay"></div>
            <div class="container">
                <div class="row d-flex no-gutters slider-text align-items-end justify-content-end" data-scrollax-parent="true">
                    <div class="one-third js-fullheight order-md-last img" style="background-image:url(/assets/images/book3.png);">
                        <div class="overlay"></div>
                    </div>
                    <div class="one-forth d-flex align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                        <div class="text">
                            <span class="subheading">Contributors</span>
                            <h1 class="mb-4 mt-3"><span>Java</span> community members from around the world</h1>
                            <p><a href="/contributors" class="btn btn-primary py-3 px-4">Contributors</a> <a href="/contribute" class="btn btn-white btn-outline-white py-3 px-4">Be a Contributor</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-item">
            <div class="overlay"></div>
            <div class="container">
                <div class="row d-flex no-gutters slider-text align-items-end justify-content-end" data-scrollax-parent="true">
                    <div class="one-third js-fullheight order-md-last img" style="background-image:url(/assets/images/book4.png);">
                        <div class="overlay"></div>
                    </div>
                    <div class="one-forth d-flex align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                        <div class="text">
                            <span class="subheading">Audience</span>
                            <h1 class="mb-4 mt-3">For <span>developers</span> and <span>engineers</span> who aspire to a higher level</h1>
                            <p><a href="/latest" class="btn btn-primary py-3 px-4">Read Now</a> <a href="/contribute" class="btn btn-white btn-outline-white py-3 px-4">Be a Contributor</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>