<div class="row">
<div id="myCarousel" class=" carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        
        {% assign posts = site.pages | sort: 'last_modified_at' | reverse %}
        {% for page in posts limit: 3 %}
                
        <div class="carousel-item {% if forloop.first %}active{%endif%}">
            
            <svg class="bd-placeholder-img" width="100%" height="200px" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
            
            <div class="carousel-caption">
                    <table><tr>
                            <td colspan="3">
                            <h3>{{page.title}}</h3>
                            <h6> {{ page.content | number_of_words }} words by {{page.author}}</h6>
                            {{ page.last_modified_at | date: "%a, %b %d"  }}
                            </td>
                            
                            
                            <td colspan="3">
                            <p>{{ page.intro | truncate: 100 }}</p>
                            </td>
                            
                            <td colspan="1">
                            <a class=" btn btn-lg btn-primary" href="#">Sign up today</a>
                            </td>
                        </tr>
                    </table>
            </div>
        </div>
        
       {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
</div>