<div class="row d-flex">
    <div class="col-md-6 col-lg-5 d-flex">
        <div class="img-about img d-flex align-items-stretch">
            <div class="overlay"></div>
            <div class="img d-flex align-self-stretch align-items-center">
                <img src="/assets/images/{{include.image}}" width="300" height="300"></img>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-7 pl-lg-5 pb-5">
        
       {{ include.content }}
       
       
    </div>
</div>