<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar ftco-navbar-light site-navbar-target" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="/">10XDev</a>
        <button class="navbar-toggler js-fh5co-nav-toggle fh5co-nav-toggle" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav nav ml-auto">
                <li class="nav-item"><a href="/" class="nav-link"><span>Home</span></a></li>
                <li class="nav-item"><a href="{{include.rel}}about" class="nav-link"><span>About</span></a></li>
                <li class="nav-item"><a href="{{include.rel}}podcasts" class="nav-link"><span>Podcasts</span></a></li>
                <li class="nav-item"><a href="{{include.rel}}videos" class="nav-link"><span>Videos</span></a></li>
                <li class="nav-item"><a href="{{include.rel}}signup" class="nav-link"><span>Signup</span></a></li>
                <li class="nav-item"><a href="{{include.rel}}contributing" class="nav-link"><span>Contributing</span></a></li>
                <li class="nav-item"><a href="{{include.rel}}contact" class="nav-link"><span>Contact</span></a></li>
            </ul>
        </div>
    </div>
</nav>