
<ul class="about-info mt-4 px-md-0 px-2">
    <li class="d-flex"><span>Company:</span> <span><a href="#">{{include.person.company}}</a></span></li>
    <li class="d-flex"><span>Address:</span> <span><a href="{{include.person.map}}">{{include.person.location}}</a></span></li>
    <li class="d-flex"><span>Linkedin:</span> <span><a href="{{include.person.linkedin}}">link</a></span></li>
    <li class="d-flex"><span>Twitter: </span> <span><a href="https://twitter.com/{{include.person.twitter}}">@{{include.person.twitter}}</a></span></li>
</ul>