<div class="resume-wrap ftco-animate" id="signup">
 
        <div class="container">
            <div class="row d-flex">
                
            <div class="col-md-12 col-lg-7 pl-lg-5 pb-5">
               <div class="card">
                    <div class="card-body" >
                       <h2  class="card-title" style="color:black;">Signup here</h2>
                        
                            <p class="card-text">
                             
                                    <span class="position" style="color:black;">Signup</span>
                         
                                    {% include hubspot_signup.html %}
                            
                            </p>
    
                         
                    </div> <!-- ard body -->
                </div> <!-- card -->
            </div>
           <!-- col -->
 
        </div> <!-- container -->
</div>
</div>