<div class="resume-wrap ftco-animate">
    <span class="date">{{ include.date | date: "%-d %B %Y" }}</span>
        <div class="container">
            <div class="row d-flex">
                <div class="col-md-4 col-lg-5 d-flex">
                    <div class="img-about img d-flex align-items-stretch">
                        <div class="overlay"></div>
                        <div class="img d-flex align-self-stretch align-items-center">
                            <iframe width="460" height="215" src="https://www.youtube.com/embed/VSUGNZwSIDM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            <div class="col-md-8 col-lg-7 pl-lg-5 pb-5">
               <div class="card">
                    <div class="card-body" >
                            {% if include.title %}
                            {% if include.url %}
                                <a href="{{ include.url }}">
                            {% endif %}
                            <h2  class="card-title" style="color:black;">{{ include.title }}</h2>
                            {% if include.url %}
                            </a>
                            {% endif %}
                            {% endif %}
                            <p class="card-text">
                                    {% if include.ref %}
                                    <span class="position" style="color:black;">{{ include.ref }}</span>
                                    {% endif %}
                                    {% if include.text %}
                                            <p class="mt-4" style="color:black;">{{ include.text }}</p>
                                    {% endif %}
                            </p>
    
                            {% if include.tags %}
                                    {% for t in include.tags %}
                                        <a href="/topics/{{t}}">#{{ t }}</a>
                                    {% endfor %}
                            {% endif %}
                    </div> <!-- ard body -->
                </div> <!-- card -->
            </div>
           <!-- col -->
 
        </div> <!-- container -->
</div>
</div>