<section class="ftco-section ftco-no-pb" id="videos">
    <div class="container">
        <div class="row justify-content-center pb-5">
            <div class="col-md-10 heading-section text-center ftco-animate">
                <h1 class="big big-2">Videos</h1>
                <h2 class="mb-4">Videos</h2>

            </div>
        </div>


            {% include video_list.html %}
            <div class="row">
                <div class="col-md-12">
                <h3>Latest</h3>
                {% for event in past_newsletters limit: 1 %}
                {% include video_box-light.html date=event.date ref=event.country title=event.title url=event.url tags=event.tags %}
                {% endfor %}
                </div>
            </div>
            <div class="row">

            <div class="col-md-6">
                <h3>Past</h3>
                {% for event in past_newsletters limit: 3 %}
                {% if forloop.first %}
                {% else %}
                {% include box.md date=event.date ref=event.country title=event.title url=event.url   tags=event.tags %}
                {% endif %}
                {% endfor %}
            </div>

            <div class="col-md-6">
                <h3>Future</h3>
                {% for event in future_newsletters limit: 3 %}
                 {% include box.md date=event.date ref=event.country title=event.title url=event.url  %}
               
                {% endfor %}
            </div>


        </div>
        <div class="row">
            <div class="col-md-12 text-center ftco-animate">
                <p><a href="/videos" class="btn btn-primary py-4 px-5">All Videos</a></p>
            </div>
        </div>
    </div>

</section>