---
title: 10x Java Developers
---
<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#page-top">10xJavaDev</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="#help">Help Needed</a></li>
                        <li class="nav-item"><a class="nav-link" href="#code">Code</a></li>
                        <li class="nav-item"><a class="nav-link" href="#career">Career</a></li>
                        <li class="nav-item"><a class="nav-link" href="#signup">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
                <div class="d-flex justify-content-center">
                    <div class="text-center">
                        <h1 class="mx-auto my-0 text-uppercase">10x Java .dev</h1>
                        <h2 class="text-white-50 mx-auto mt-2 mb-5">A crowd-sourced compendium, grimore, manuscript for every developer or engineer who's every wanted to be more</h2>
                        <a class="btn btn-primary" href="#about">Learn More</a>
                    </div>
                </div>
            </div>
        </header>
        <!-- About-->
        <section class="about-section text-center" id="about">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8">
                        <h2 class="text-white mb-4">Elevating Code and Career</h2>
                        <p class="text-white-50">
                            We're creating a newsletter that we hope will eventually become a book. A book created to help all developers take one step forward.
                            Created by contributions from people all across the industry, this missive will give everyone a little help and guidence - whether improving their career
                            or even the code they write. 
                            <a href="#">Look here for our progress</a>
                            
                        </p>
                    </div>
                </div>
                <img class="img-fluid" src="/assets/images/web/ipad.png" alt="..." />
            </div>
        </section>
        <!-- Projects-->
        <section class="projects-section bg-light" id="help">
            <div class="container px-4 px-lg-5">
                <!-- Featured Project Row-->
                <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                    <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="/assets/images/web/bg-masthead.jpg" alt="..." /></div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="featured-text text-center text-lg-left">
                            <h4>Pay it forward</h4>
                            <p class="text-black-50 mb-0">We've all had help with our career and our code. Now it's your turn to help those in need of your wisdom and advice</p>
                            <p class="text-black-50 mb-0">Whether it's that's one piece of advice you never forgot, an concise explaination of how to get the best from maven or an indepth guide to what every CV should have.. </p>
                            <br>
                            <a href="#">We want it all</a>
                           
                        </div>
                    </div>
                </div>
                <!-- Project One Row-->
                <div class="row gx-0 mb-5 mb-lg-0 justify-content-center" id="code">
                    <div class="col-lg-6"><img class="img-fluid" src="/assets/images/web/code.jpg" alt="..." /></div>
                    <div class="col-lg-6">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-left">
                                    <h4 class="text-white">Code</h4>
                                    <p class="mb-0 text-white-50">
                                        10xJava Developers care about the code they write, the code they test and debug. They're productive developers but they work as a team.
                                        Start here to see what we have (and what we need) for all matters code related -     <a href="https://startbootstrap.com/theme/grayscale/"><b>10xDev style</b></a> 
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project Two Row-->
                <div class="row gx-0 justify-content-center" id="career">
                    <div class="col-lg-6"><img class="img-fluid" src="/assets/images/web/career.jpg" alt="..." /></div>
                    <div class="col-lg-6 order-lg-first">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-right">
                                    <h4 class="text-white">Career</h4>
                                    <p class="mb-0 text-white-50">Code is code. It's just part of the job. There's so much more to being a 10xDev. Find out what else you need to have on your CV and in your heart.</p>
                                    <a href="#"><b>People First</b></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Signup-->
        <section class="signup-section" id="signup">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5">
                    <div class="col-md-10 col-lg-8 mx-auto text-center">
                        <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                        <h2 class="text-white mb-5">Subscribe to receive updates</h2>
                       
                    {% include hubspot_signup.html %}
                        
                    </div>
                </div>
            </div>
        </section>
        
        {% include contact.html %} 
       
        {% include footer.html %}
       
    </body>
</html>
