<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
    
   {% include nav.html %}
    
    <div class="container">
      <div class="row">
        <div class="md-12"><h3>{{ page.title }}</h3></div>
    </div>
        <div class="row">
            <div class="md-12">
                {{ content }}
            </div>
        </div>
        
  
    </div>
    
    {% include footer.html %}

    {% include end_body.html %}
</body>
</html>